# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Models
models/
*.pkl
*.joblib
*.pt
*.pth

# Dataset
data/

# Cache
.cache/

# Secrets
.env

# Build
dist/
build/

# Flask
instance/

# Python packaging
*.egg-info/